<%- include('partials/header', { view: 'product' }) %>

        <main>
            <section id="product">

                <% if (locals.product) { %>
                
                    <img src="/images/coffees/<%= product.reference %>.png" alt="<%= product.name %>">

                    <article>
                        <div>
                            <p class="availability <%= product.disponibility %>">
                                <% if (product.disponibility === true) { %>
                                    Disponible
                                <% } else { %>
                                    En rupture de stock
                                <% } %>
                            </p>
                            <h1 class="name"><%= product.name %></h1>
                            <div class="description">
                                <div class="details">
                                    <p class="origine"><span class="label">Origine :</span> <%= product.origine %></p>
                                    <p class="type"><span class="label">Catégorie :</span> <%= product.type %></p>
                                    <p class="price"><%= product.price %> €/kg</p>
                                </div>
                                <div class="text">
                                    <p><%= product.description %></p>
                                </div>
                            </div>
                            <a class="button" id="catalog-button" href="/catalog">Catalogue</a>
                        </div>
                    </article>

                <% } %>

            </section>
        </main>

<%- include('partials/footer') %>
